/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 11, 2016, 4:39:57 PM
    Author     : u27brvz04
*/
@charset "utf-8";
.dictionary-content,.table-content{
    padding:5px;
}
table.table-unbordered{
    border:none;
}
table.table-unbordered tr td{
    border:none;
}
table.table-layout{
    width:100%;
}
table.table-layout tr td{
    padding-top:5px;
}
.table-title-caption {
    display:inline-block;
    padding-left: 20px;
}
.border-right-none{
    border-right:none !important;
}
.arrow-down {
    float:right;
    cursor: pointer;
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(0,0,0,0.5);
}
#scrollable-container {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid rgb(221,221,221);
}
.nested-error {
    padding-left:5px;
}
.error-popup {
    /*position: absolute;*/
    position: relative;
    /*margin-top: 40px;*/
    margin-top: 7px;
    z-index: 101;
    background: #fff;
    border: 1px solid #f1a899;
    padding: 6px 12px;
    border-radius: 4px;
    /*margin-left: 20px;*/
    margin-left: 80px;
    box-shadow: 0px 0px 8px #fddfdf;
    color: #f1a899;
}
.error-popup::after {
    top: -14px;
    right: auto;
    left: 8px;
}
.error-popup::after {
    border: 7px solid transparent;
    border-bottom-color: #fff;
}
.error-popup::before {
    top: -16px;
    right: auto;
    left: 7px;
}
.error-popup::before {
    border: 8px solid transparent;
    border-bottom-color: #f1a899;
}
.error-popup::before, .error-popup::after {
    position: absolute;
    display: inline-block;
    content: "";
}
.overlay {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.overlay-pagination {
    width: 200px;
    height: 38px;
    opacity: 0.65;
}
.overlay-pagination:before {
    content:"Завантаження";
    display: inline-block;
    font-size: 16px;
    color: #3cc4f0;
    font-weight: 600;
    padding: 6px 12px 6px 30px;
    animation: loading 1s linear infinite alternate;
    -moz-animation: loading 1s linear infinite alternate;
    transition: all 0.5s ease;
}
@-moz-keyframes loading { 0% {content: "Завантаження";} 33% {content: "Завантаження.";} 66% {content: "Завантаження..";} 100% {content: "Завантаження...";}}
@keyframes loading { 0% {content: "Завантаження";} 33% {content: "Завантаження.";} 66% {content: "Завантаження..";} 100% {content: "Завантаження...";}}

.toolbar-page-size>button {
    line-height: 24px;
    color: #000;
}
#fieldset-rd,#fieldset-ord {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 20px 10px 10px 30px;
    margin-bottom: 10px;
}
#fieldset-rd:before,#fieldset-ord:before {
    background:#ffffff;
    position:absolute;
    margin-top:-31px;
    margin-left:-15px;
}
#fieldset-rd:before {
    content:"Розпорядчий документ:";
}
#fieldset-ord:before {
    content:"Основний розпорядчий документ:";
}
.ajv-input {
    background: none;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right 5px center;
}
input[valid-status="invalid"] {
    background-color: #fddfdf;
    border: 1px solid #f1a899;
    color: #5f3f3f;
}
.uf-file {
    position: relative;
    width: 20px;
    height: 22px;
    display: inline-block;
    margin-bottom: -4px;
    margin-right: 1px;
    margin-top: 1px;
    margin-left: 1px;
}
.uf-file:hover {
    /*background-color: rgb(235,173,68);*/
    /*box-shadow: 0px 0px 1px #f1a899;*/
}
.uf-file:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(60,196,240,0.4);
}
.uf-file:before {
    content: "";
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    background: rgba(255,255,255,0.5);
    line-height: 10px;
    margin-left: 1px;
    width: 18px;
    text-align: center;
}
.uf-pdf:before {
    content: "pdf\00a0";
    color: #dd110a;
}
.uf-jpg:before,.uf-jpeg:before {
    content: "jpg";
    color: #1406ed;
}
.uf-bmp:before {
    content: "bmp";
    color: #e035a1;
}
.uf-png:before {
    content: "png";
    color: #a516da;
}
.uf-xls:before,.uf-xlsx:before {
    content: "xls";
    color: #5ca135;
}
.uf-doc:before,.uf-docx:before {
    content: "doc";
    color: #079ce1;
}
.uf-txt:before {
    content: "txt";
    color: #f3b400;
}
.uf-ico:before {
    content: "ico";
    color: #f39200;
}
.uf-exe:before {
    content: "exe";
    color: #dd110a;
}
.padding-off {
    padding:0;
}
.width60px {
    width:60px;
    min-width: 60px;
}
.width90px {
    width:90px;
}
.width100px {
    width:100px;
    min-width: 100px;
}
.width120px {
    width:120px;
    min-width: 120px;
}
.width200px {
    width:200px;
}
.width300px {
    width:300px;
}
.width400px {
    width:400px;
}
.width500px {
    width:500px;
}
.width600px {
    width:600px;
}
.width100perc{
    width:100%;
}